Course List Validation

This script is designed to validate the Final Course List against the updated 2024-25 Academic Program Catalog. It ensures accuracy by verifying prerequisites, corequisites, and diverse culture requirements as of October 1, 2024.

Step 1 Load Data from CSV to dataframe

In [1]:
import pandas as pd

def load_csv_to_dataframe(file_path):
    """
    Loads a CSV file into a Pandas DataFrame.
    
    Parameters:
    file_path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: A DataFrame containing the CSV data.
    """
    try:
        df = pd.read_csv(file_path)
        print("CSV file loaded successfully.")
        return df
    except Exception as e:
        print(f"Error loading CSV file: {e}")
        return None

# Load CSV file into main_record variable
file_path = r"C:/Users/tinsa/OneDrive/Desktop/data_validation/2024-25 Academic Program Catalog with Courses with pre-req, co-req, diverse cultures 10-1-24.xlsx - Sheet1.csv"
main_record = load_csv_to_dataframe(file_path)

CSV file loaded successfully.

Step 2 Merge SubjectAbbreviation with Course Number

In [2]:
# Merge SubjectAbbreviation and CourseNumber columns into a new column 'Course ID'
main_record["Course ID"] = main_record["SubjectAbbreviation"] + " " + main_record["CourseNumber"].astype(str)

# Display the updated DataFrame
display(main_record.head())

,ProgramName,Degree,PrgoramName with Degree,ProgID,TotalCredits,CatalogType,CatalogYear,Description,SeriesHeading,Group_CategoryTitle,...,GroupCredits,SubjectAbbreviation,CourseNumber,Title,Credits,PreReq,CoReq,DiverseCultures,Unnamed: 19,Course ID
0,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,614,Strategies for teaching learners with special ...,4,NaN,NaN,NaN,NaN,SPED 614
1,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,615,Math assessment and instruction for struggling...,4,NaN,NaN,NaN,NaN,SPED 615
2,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,656,Initial Graduate Seminar: Special Education,3,NaN,NaN,NaN,NaN,SPED 656
3,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,670,Student teaching: Academic and Behavioral Stra...,3,NaN,NaN,NaN,NaN,SPED 670
4,Accelerated Accounting,CERT,Accelerated Accounting - CERT,200023125,16,Undergraduate,2024-2025,Major Common Core,NaN,NaN,...,NaN,ACCT,220,Accounting Cycle Applications,1,ACCT 200,NaN,NaN,NaN,ACCT 220

Step 3 Drop all Duplicate Course ID

In [3]:
# Drop duplicate Course ID entries
main_record = main_record.drop_duplicates(subset=["Course ID"], keep="first")

# Display the updated DataFrame
display(main_record.head())

,ProgramName,Degree,PrgoramName with Degree,ProgID,TotalCredits,CatalogType,CatalogYear,Description,SeriesHeading,Group_CategoryTitle,...,GroupCredits,SubjectAbbreviation,CourseNumber,Title,Credits,PreReq,CoReq,DiverseCultures,Unnamed: 19,Course ID
0,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,614,Strategies for teaching learners with special ...,4,NaN,NaN,NaN,NaN,SPED 614
1,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,615,Math assessment and instruction for struggling...,4,NaN,NaN,NaN,NaN,SPED 615
2,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,656,Initial Graduate Seminar: Special Education,3,NaN,NaN,NaN,NaN,SPED 656
3,Academic and Behavioral Strategist,GC,Academic and Behavioral Strategist - GC,202029621,10,Graduate,2024-2025,Restricted Electives,NaN,NaN,...,Choose10 - 14 Credit(s).,SPED,670,Student teaching: Academic and Behavioral Stra...,3,NaN,NaN,NaN,NaN,SPED 670
4,Accelerated Accounting,CERT,Accelerated Accounting - CERT,200023125,16,Undergraduate,2024-2025,Major Common Core,NaN,NaN,...,NaN,ACCT,220,Accounting Cycle Applications,1,ACCT 200,NaN,NaN,NaN,ACCT 220

Step 4 Drop all columns Except Course ID, Title, Credits, and PreReq columns

In [4]:
# Keep only the specified columns
main_record = main_record[["Course ID", "Title", "Credits", "PreReq"]]

# Display the updated DataFrame
display(main_record.head())

,Course ID,Title,Credits,PreReq
0,SPED 614,Strategies for teaching learners with special ...,4,NaN
1,SPED 615,Math assessment and instruction for struggling...,4,NaN
2,SPED 656,Initial Graduate Seminar: Special Education,3,NaN
3,SPED 670,Student teaching: Academic and Behavioral Stra...,3,NaN
4,ACCT 220,Accounting Cycle Applications,1,ACCT 200

Step 5 sort the main_record DataFrame by the Course ID column alphabetically

In [5]:
# Sort the DataFrame alphabetically by Course ID
main_record = main_record.sort_values(by=["Course ID"], ascending=True)

# Reset the index after sorting
main_record = main_record.reset_index(drop=True)

# Display the updated DataFrame
display(main_record.head())

# Save the DataFrame to a CSV file
output_file_path = r"C:/Users/tinsa/OneDrive/Desktop/data_validation/cleaned_course_list.csv"
main_record.to_csv(output_file_path, index=False)

print(f"CSV file saved successfully at: {output_file_path}")

,Course ID,Title,Credits,PreReq
0,ACCT 200,Financial Accounting,3,MATH 112 or MATH 115\tor MATH 121 or MATH 130 ...
1,ACCT 210,Managerial Accounting,3,ACCT 200
2,ACCT 220,Accounting Cycle Applications,1,ACCT 200
3,ACCT 300,Intermediate Financial Accounting I,3,ACCT 200
4,ACCT 301,Intermediate Financial Accounting II,3,ACCT 300

CSV file saved successfully at: C:/Users/tinsa/OneDrive/Desktop/data_validation/cleaned_course_list.csv